@use "../../colors/color_variables";
@use "../../typography/typography";

// 법안 카드 컨테이너 스타일
.bill-card-container {
    width: 1152px;
    margin-top: 50px;
}   

// 법안 카드 스타일
.bill-card {
    width: 100%;
    max-width: 1152px;
    min-height: 180px;
    margin-bottom: 20px;
    border-radius: 20px;
    background: color_variables.$surface-primary-color;
    padding: 27px 37px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;

    &:focus, &:active, &:hover {
        outline: none !important;
        border-color: color_variables.$border-primary-color !important;
        box-shadow: none !important;
    }
}
 
// 법안 카드 헤더 스타일
.bill-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
// 법안 헤더 제목 스타일
.bill-title {
    @extend .title-small; 
    color: color_variables.$text-primary-color;
    flex: 1;
}

// 법안 헤더 태그 스타일
.bill-header-tag {
    display: flex;
    align-items: center;
    gap: 12px;
}
 
// 법안 태그 정당 스타일
.bill-tag-party {
    @extend .button-small;
    width: 120px;
    height: 33px;
    padding: 3px 10px;
    background-color: color_variables.$background-primary-color;
    text-align: center;
    border-radius: 10px;
}
 
// 법안 태그 상태 스타일
.bill-tag-status {
    @extend .button-small;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 10px;
    width: 80px;
    height: 33px;
    border-radius: 10px;
    gap: 10px;
    text-align: center;
    background-color: color_variables.$background-primary-color;
  
    .status-emoji {
      font-size: 16px;
      line-height: 1;
    }
  
    &.status-received {
      color: color_variables.$emoji-received-color;
    }
  
    &.status-reviewing {
      color: color_variables.$emoji-reviewing-color;
    }
  
    &.status-announced {
      color: color_variables.$emoji-announced-color;
    }
  
    &.status-discarded {
      color: color_variables.$emoji-discarded-color;
    }
  }

// 법안 상세정보 스타일
.bill-description {
    @extend .body-large;
}
  
