@use "../../colors/color_variables";
@use "../../typography/typography" as *;

// 법안 카드 컨테이너 스타일
.bill-card-container {
    width: 1152px;
}   

// 법안 카드 스타일
.bill-card {
    width: 100%;
    max-width: 1152px;
    min-height: 200px;
    margin: 30px;
    border-radius: 20px;
    background: color_variables.$surface-bill-background-color;
    box-shadow: 2px 6px 6px 2px rgba(0, 0, 0, 0.10);
    padding: 30px 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    &:focus, &:active, &:hover {
        outline: none !important;
        border-color: color_variables.$border-primary-color !important;
        box-shadow: none !important;
    }
}
 
// 법안 카드 헤더 스타일
.bill-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
// 법안 헤더 제목 스타일
.bill-title {
    @include title-small; 
    color: color_variables.$text-primary-color;
    flex: 1;
    display: flex;
    align-items: center;
    gap: 8px;
}

// 법안 헤더 태그 스타일
.bill-header-tag {
    display: flex;
    align-items: center;
    gap: 12px;
}
 
// 법안 태그 정당 스타일
.bill-tag-party {
    @include button-small;
    width: 130px;
    height: 33px;
    padding: 3px 10px;
    background-color: color_variables.$background-primary-color;
    text-align: center;
    border-radius: 10px;
}
 
// 법안 태그 상태 스타일
.bill-tag-status {
    @include button-small;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 10px;
    width: 80px;
    height: 33px;
    border-radius: 10px;
    gap: 10px;
    text-align: center;
    background-color: color_variables.$background-primary-color;
  
    .status-emoji {
      font-size: 16px;
      line-height: 1;
    }
    .bill-tag-status {
        @each $status, $color in (
            received: color_variables.$emoji-received-color,
            reviewing: color_variables.$emoji-reviewing-color,
            decided: color_variables.$emoji-decided-color,
            executed: color_variables.$emoji-executed-color,
            discarded: color_variables.$emoji-discarded-color
        ) {
            &.status-#{$status} {
                color: $color;
            }
        }
    }
  }

// 법안 상세정보 스타일
.bill-description {
    @include body-medium;
}

.star-icon {
    color: color_variables.$surface-tertiary-color;
  
    &.active {
        color: color_variables.$button-system-warn-color;
    }
}

// pagination 스타일 
.pagination {
    display: flex;
    justify-content: center;
    margin: 0 0 17px 0;
  
    .pagination-list {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      list-style: none;
      gap: 10px;
      padding: 10px;
  
      .page-num {
        @include button-large;
        display: flex;              // 숫자 중앙 정렬을 위해 추가
        align-items: center;        // 수직 중앙 정렬
        justify-content: center;    // 수평 중앙 정렬
        padding: 0px 11px;
        height: 37px;               // 아이콘 높이와 맞추기
        border-radius: 10px;
        color: color_variables.$text-secondary-color;
  
        &.active {
          color: color_variables.$text-inverse-color;
          background: color_variables.$button-primary-color;
        }
      }
    }
  }
  
.laquo-icon, .lsaquo-icon, .rsaquo-icon, .raquo-icon {
    width: 37px;
    height: 37px;
    display: flex;               // 아이콘도 flex로 정렬 대상에 맞춤
    align-items: center;
    justify-content: center;
    color: color_variables.$text-secondary-color;
}  

a:focus,
a:focus-visible,
a:active {
  outline: none ;
  box-shadow: none ;
  border: none ;
}
