@use "../../colors/color_variables";
@use "../../icons/share_icon";
@use "../../typography/typography" as *;
@use "../../layouts/responsive" as *;

// 법안 상세 페이지 스타일

// 메인 컨테이너
.bill-detail-layer {
  @include mobile {
    width: 375px;
    margin-top: 30px;
  }

  @include desktop {
    width: 1152px;
    margin-top: 50px;
  }
}

// 법안 상세 태그 컨테이너 스타일
.bill-detail-tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px; 
  margin-bottom: 15px;
}

// 법안, 정당 공통 태그 스타일
[class$="-comp"], [class$="-shape"] {
  @include button-small;
  
  @include mobile {
    height: 22px !important;
    max-height: 22px !important;
    min-height: 22px !important;
    border-radius: 5px !important;
    padding: 4px 15px !important;
  }
  
  @include desktop {
    height: 35px !important;
    max-height: 35px !important;
    min-height: 35px !important;
    border-radius: 10px !important;
    padding: 4px 33px !important;
  }
}

// 법안 제목
.bill-detail-title {
  @include title-large;
  color: color_variables.$text-primary-color;
  margin-bottom: 20px;
}
  
// 메타데이터 컨테이너
.bill-detail-meta {
  background: color_variables.$surface-primary-color;
  padding: 27px 37px;
  border-radius: 20px; 
  margin-left: auto;
  margin-right: auto;

  @include mobile {
    width: 343px;
    margin-bottom: 30px;
  }

  @include desktop {
    width: 1152px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;  
    grid-template-rows: repeat(3, auto);  
    gap: 16px 40px;  // 행과 열 사이의 간격
    
  }
}
  
// 메타데이터 아이템
.bill-detail-meta-item {
  display: grid;
  grid-template-columns: 100px 1fr; 
  
  @include desktop {
    gap: 20px;
  }
}
  
// 메타데이터 라벨
.bill-detail-meta-label {
  @include body-large; 
  color: color_variables.$text-tertiary-color;
}
  
// 메타데이터 값
.bill-detail-meta-value {
  @include body-large; 
  color: color_variables.$text-primary-color;
}
  
// 컨텐츠 컨테이너 (AI 요약, 추진 현황, 주요 내용 등)
.bill-detail-container {
  @include mobile {
    margin-bottom: 20px;
  }
  
  @include desktop {
    margin-bottom: 50px;
  }
}
  
.bill-detail-label {
  @include title-small;
  color: color_variables.$text-primary-color;
  display: flex;
  align-items: center;
    
  @include mobile {
    gap: 5px; 
  }

  @include desktop {
    margin-bottom: 10px;
    gap: 8px; 
  }
}
  
// 컨텐츠 내용
.bill-detail-content {
  @include body-large; 
  padding: 0 20px;
  color: color_variables.$text-secondary-color;
}

.share-icon-style {
  @extend .share-icon;
  vertical-align: middle;
}
