@use "colors/color_variables";
@use "../_law_categories.scss";
@use "../../icons/remove_icon";
@use "../../typography/typography" as *;
@use "../../layouts/responsive" as *;

// 선택된 카테고리 태그가 보여지는 영역
.selected-category-tag-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 8px;
  align-items: center;

  // 웹킷 브라우저에서 자동 스크롤바 숨김
  &::-webkit-scrollbar {
    display: none;
  }

  // 실제 키워드 입력창
  input[type="text"] {
    @include mobile {
      height: 24px;
      width: 100vw;
      padding: 5px;
    }

    @include desktop {
      height: 46px;
      padding: 16px;
    }
  }
}

// 개별 선택된 카테고리 태그 UI
.selected-category-tag {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  background-color: color_variables.$surface-primary-color;

  @include mobile {
    padding: 0px 10px;
    border-radius: 15px;
    height: 24px;
  }

  @include desktop {
    gap: 5px;
    padding: 6px 15px;
    border-radius: 20px;
  }

  span {
    @extend .law-common-text-component;
  }

  .remove-button {
    @extend .remove-icon;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// 실시간 검색어 영역
.trending-keywords {
  display: flex; 
  align-items: center;

  @include mobile {
    width: 315px;
    margin: 15px auto 50px;
    gap: 5px;
  }

  @include desktop {
    width: 660px;
    margin: 15px auto 100px;
    gap: 10px;
  }

  .keyword-bubble {
    background-color: color_variables.$surface-primary-color;
    color: color_variables.$text-primary-color;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mobile {
      height: 20px;
      padding: 3px 13px;
      border-radius: 15px;
    }

    @include desktop {
      height: 33px;
      padding: 6px 15px;
      border-radius: 20px;
    }
  }
}

.trending-keyword-text {
  @include caption-medium;
  font-weight: 700; 
}
