@use "colors/color_variables";
@use "../../icons/previous_icon";
@use "../../typography/typography" as *;
@use "../../layouts/responsive" as *;

.mobile-only {
  @include desktop {
    display: none;
  }
}

.desktop-only {
  @include mobile {
    display: none;
  }
}

// 카드와 화살표를 감싸는 래퍼
.hot-issue-carousel-wrapper { 
  gap: 30px;
  display: flex;
}

// 카드 리스트 컨테이너 (가로 스크롤 영역)
.hot-issue-card-container {
  display: flex;
  overflow-x: auto;           // 가로 스크롤 활성화
  scroll-behavior: smooth;    // 부드러운 스크롤 
  scroll-snap-type: x mandatory; 
  outline: none !important;           

  // 브라우저 별 자동 스크롤바 숨기기          
  scrollbar-width: none;       // Firefox
  -ms-overflow-style: none;    // IE, Edge

  &::-webkit-scrollbar {
    display: none;            // Chrome, Safari
  }

  &:focus {
    box-shadow: none;
  }

  @include mobile {
    max-width: 100vw;
    padding: 0 37px 0 38px;
    scroll-padding-left: 38px;
    gap: 75px;
    justify-content: flex-start;
  }

  @include desktop {
    max-width: 1260px;
    gap: 30px;
  }
}

// 개별 카드 디자인
.hot-issue-card{
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  scroll-snap-align: start;
  border-radius: 20px; 
  box-sizing: border-box;
  background-color: color_variables.$surface-primary-color;

  @include mobile {
    width: 100%;
    max-width: 330px;
    height: 159px;
    padding: 15px;
    gap: 10px;
    scroll-snap-align: start;
  }

  @include desktop {
    width: 400px;
    height: 300px;
    padding: 15px 30px;
    gap: 11px;
  }
}

// 카드 상단 헤더
.hot-issue-header {
  display: flex;
  align-items: end;

  @include mobile {
    margin-bottom: 10px;
    width: 79%;
    gap: 10px;
  }

  @include desktop {
    margin-bottom: 28px;
    width: 85%;
    gap: 19px;
  }
}

// 'HOT 이슈 법안' 텍스트 스타일
.hot-issue-bill-text {
  @include title-small;
  color: color_variables.$text-primary-color;
}

// '모든 법안 보기' 텍스트
.all-issue-bill-text {
  @include caption-medium;
  color: color_variables.$text-tertiary-color;

  @include mobile {
    margin-bottom: 3px;
  }

  @include desktop {
    margin-bottom: 7px;
  }
}

.all-issue-next-icon {
  color: color_variables.$text-tertiary-color;
  margin-left: 3px;

  @include mobile {
    width: 3px;
    height: 5px;
  }

  @include desktop {
    width: 5.5px;
    height: 10.2px;
  }
}

// 법안 제목 (긴 경우 말줄임표 처리)
.hot-issue-title {
  @include button-large;
  color: color_variables.$text-primary-color;
  flex-shrink: 0; 
}

// 태그 or 메타데이터를 위한 라벨 묶음
.hot-issue-header-tag {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-shrink: 0; 
}

.hot-issue-slide-icon {
  @include mobile {
    width: 13px;
    height: 13px;
  }

  @include desktop {
    width: 35px;
    height: 35px;
  }
}

// 포커스 스타일 제거
.hot-issue-previous-icon, .hot-issue-next-icon, .pause-line-icon {
  &:focus {
    box-shadow: none;
  }
}

// 법안 상세정보 사용
.hot-issue-bill-description {
  @include body-small;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hot-issue-pagination {
  display: flex;
  
  @include mobile {
    justify-content: flex-end;
    padding-right: 45px;
    margin: 7px 0 9px;
    gap: 6px;
  }

  @include desktop {
    flex-direction: row !important; // 명시적으로 가로 정렬
    justify-content: center;
    gap: 14px;
    margin: 37px 0px;
  }
}

// 페이지 번호 표시
.hot-issue-page-counter {
  @include button-large;
  display: flex;
  align-items: center;
}

.hot-issue-dot {
  width: 20px;
  height: 20px;
  aspect-ratio: 1/1;
  border-radius: 9999px;
  background: color_variables.$button-tertiary-color;
  
  &.active {
    width: 50px;
    background: color_variables.$button-secondary-color;
  }

  &:focus {
      box-shadow: none;
    }
}
