@use "colors/color_variables";
@use "../../typography/typography" as *;
@use "../../layouts/responsive" as *;

.main-message-layer {
  text-align: center;

  @include mobile {
    padding: 20px;
  }

  @include desktop {
    padding: 25px 20px 80px 20px;
  }
}

.headline-text {
  @include headline-medium;
  color: color_variables.$text-primary-color;
}

.title-text {
  @include title-small;
  color: color_variables.$text-secondary-color;
  margin-top: 16px;
}
