@use "../../colors/color_variables";
@use "../../icons/previous_icon";
@use "../../typography/typography" as *;
@use "../../layouts/responsive" as *;

// 모바일과 데스크탑에서 다른 스타일을 적용하기 위한 mixin
.mobile-only {
  @include desktop {
    display: none;
  }
}

.desktop-only {
  @include mobile {
    display: none;
  }
}

// 법안 카테고리 레이어
.bills-category-container {
  display: flex;
  justify-content: center;
}

// 법안 카드 컨테이너 스타일
.bill-card-container {
    @include mobile {
      width: 375px;
    }

    @include desktop {
        width: 1152px;
    }
}

// 법안 데이터 주의 텍스트 스타일
.bill-data-alert {
  color: color_variables.$text-tertiary-color;
  align-items: center;
  display: flex;
  gap: 5px;
  margin: 30px 30px 0px 30px; 
  @include body-small;
}

// 관심법안이 없는 경우 스타일
.empty-starred-bills {
  margin-top: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.empty-starred-bills-text {
  color: color_variables.$text-primary-color;
  @include headline-medium;
}

.add-starred-bill-button {
  color: color_variables.$text-inverse-color;
  background: color_variables.$button-primary-color;
  border-radius: 20px;
  @include title-small;

  @include mobile {
    padding: 8px 15px;
  }

  @include desktop {
    padding: 15px 30px;
  }
}

// 법안 카드 스타일
.bill-card {
    min-height: 200px;
    border-radius: 20px;
    background: color_variables.$surface-bill-background-color;
    box-shadow: 2px 6px 6px 2px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    @include mobile {
      margin: 25px;
      padding: 10px 25px;
    }

    @include desktop {
      margin: 30px;
      padding: 30px 50px;
    }
}
 
// 법안 카드 헤더 스타일
.bill-header {
    width: 100%;
    display: flex;

    // 모바일에서는 세로 배치(column)로 변경
    @include mobile {
      flex-direction: column;
      align-items: flex-start; 
      gap: 5px; 
    }
    
    // 데스크탑에서는 가로 배치(row) 유지
    @include desktop {
      flex-direction: row;
    }
}
 
// 법안 헤더 즐겨찾기 스타일
.star-icon-wrapper {
  cursor: pointer;

  .star-icon {
    vertical-align: middle;
    @include desktop {
      margin-right: 10px;
    }

    &.default path {
      fill: color_variables.$surface-tertiary-color;
    }

    &.select path {
      fill: color_variables.$button-system-warn-color;
    }

    &.select {
      display: none;
    }
  }

  &.active {
    .star-icon.select {
      display: inline;
    }

    .star-icon.default {
      display: none;
    }
  }
}

// 법안 헤더 제목 스타일
.bill-title {
    color: color_variables.$text-primary-color;
    flex: 1;
    display: flex;
    align-items: center;
    @include title-small; 
}

// 법안 헤더 태그 스타일
.bill-header-tag {
    display: flex;
    align-items: center;

    @include mobile{
      gap: 8px;
    }

    @include desktop{
      gap: 12px;
    }
}

// 법안 태그(정당, 상태) 공통 스타일
@mixin bill-tags {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  background-color: color_variables.$background-primary-color;
  @include button-small;

  @include mobile{
    height: 20px;
    border-radius: 5px;
    padding: 3px 10px;
  }

  @include desktop {
    height: 33px;
    border-radius: 10px;
    padding: 3px 20px;
  }
}
 
// 법안 태그 정당 스타일
.bill-tag-party {
    @include bill-tags;
}
 
// 법안 태그 상태 스타일
.bill-tag-status {
    gap: 5px;
    @include bill-tags;

    @each $status, $color in (
        received: color_variables.$emoji-received-color,
        reviewing: color_variables.$emoji-reviewing-color,
        decided: color_variables.$emoji-decided-color,
        executed: color_variables.$emoji-executed-color,
        discarded: color_variables.$emoji-discarded-color
    ) {
        &.status-#{$status} {
            color: $color;
        }
      }
}

// 법안 상세정보 스타일
.bill-description {
  width: 100%;
  @include body-medium;
}

// pagination 스타일 
.pagination-list {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 30px 0px;

  .page-num {
    padding: 0px 11px;
    color: color_variables.$text-secondary-color;
    @include button-large;

    @include mobile {
      height: 19px; 
      border-radius: 15px;
      gap: 5px;
    }

    @include desktop {
      height: 37px; 
      border-radius: 10px;
      gap: 10px;
    }

    &.active {
      color: color_variables.$text-inverse-color;
      background: color_variables.$button-primary-color;
    }
  }
}
 
// 페이지네이션 아이콘 스타일
.laquo-icon, .lsaquo-icon, .rsaquo-icon, .raquo-icon {
    display: flex;              
    align-items: center;
    justify-content: center;

    @include mobile {
      width: 9.5px;
      height: 9.5px;
    }

    @include desktop {
      width: 18.5px;
      height: 18.5px;
    }
}  
