<%# bill_summary %>
<!-- AI 요약 페이지 아코디언 UI -->

<div data-controller="accordion" class="accordion-container">
  <div class="accordion-header">
    <%# Add relative positioning for the gradient overlay %>
    <div class="accordion-header-content-wrapper" style="position: relative;">
      <div class="accordion-header-content" data-accordion-target="content">
        <%= markdown(current_bill_summary.content) %>
      </div>
      <%# Gradient overlay for truncation effect %>
      <div class="gradient-overlay" data-accordion-target="gradient"></div>
    </div>

    <!-- 더보기 화살표 버튼 -->
    <div class="arrow-button" data-action="click->accordion#toggle">
      <%= inline_svg("more", class: "arrow-icon", data: { accordion_target: "icon" }) %>
    </div>
  </div>
  <!-- AI 주의 정보 -->
  <div class="ai-info-box">
    <%= inline_svg("alert_circle", class:"alert-circle-icon") %>
    <div class="ai-info-text">AI는 실수를 할 수 있어요</div>
  </div>
</div>
