<!-- 상단 배너 검색바 -->

<%= form_with url: bills_path, method: :get, local: true do %>
  <%= render "shared/banner" do %>
      <!-- 법안 검색 -->
      <div class="search-bar">
        <label for="q"></label>
          <%= text_field_tag :q, params[:q], placeholder: "무슨 법이 만들어지고 있나요?" %>
          <!-- 검색 버튼 -->
          <button type="submit" class="search-button">
            <%= inline_svg("search", class: "search-icon") %>
          </button>
      </div>
  <% end %>
<% end %>
