<!-- 상단 배너 검색바 -->

<form data-controller="category-search" data-action="submit->category-search#goToSearch">
  <%= render "shared/banner", 
           active_tabs: (params[:starred] == 'true' ? ["starred"] : parsed_active_tabs.presence || ["all"]),
           context: :search do %>

    <div class="search-bar">
      <div id="selected-category"
          class="selected-category-tag-container"
          data-category-search-target="selectedCategory">
        <%= text_field_tag :q, params[:q],
              placeholder: "검색어를 입력해주세요",
              data: { "category-search-target": "input" } %>
      </div>

      <button type="submit"
              class="search-button"
              data-action="click->category-search#goToSearch">
        <%= inline_svg("search", class: "search-icon") %>
      </button>
    </div>
  <% end %>

  <!-- 법안 카테고리 -->
  <div class="bills-category-container">
    <%= render "shared/law_categories", 
              active_tabs: (params[:starred] == 'true' ? ["starred"] : parsed_active_tabs.presence || ["all"]),
              context: :search %>
  </div>
</form>
