<!-- 상단 배너 -->

<!-- 검색/필터링 form -->
<%= form_with url: bills_path, method: :get, local: true do %>
  <!-- 상단 배너 검색바 -->
  <nav class="banner-component-layer">
    <!-- 왼쪽 브랜드 로고 -->
    <div class="brand-logo">
      <%= link_to root_path do %>
        <%= inline_svg("brand_logo", class: "brand_logo-icon") %>
      <% end %>
    </div>
  </nav>
<% end %>
