@use "../colors/color_variables";
@use "../layouts/responsive" as *;

.alert-circle-icon {
  @include mobile {
    width: 14px;  
    height: 14px;
  }
  @include desktop {
    width: 24px;
    height: 24px;
  }
}
