@use "../colors/color_variables";
@use "../layouts/responsive" as *;

.brand_logo-icon {
  color: color_variables.$brand-logo-color;

  @include mobile {
    width: 86px;
    height: 14px;
  }

  @include desktop {
    width: 172.93px; 
    height: 28px; 
  }
}
