@use "../colors/color_variables";

$icon-width: 35px; 
$icon-height: 35px; 

.choice-ellipse-icon {
  width: $icon-width;
  height: $icon-height;
  fill: color_variables.$icon-default-background-color;
  stroke-width: 4px;
  stroke: color_variables.$icon-choice-color;
}