@use "../colors/color_variables";
@use "../layouts/responsive" as *;

.divider-icon {
    @include mobile {
        width: 5px; 
        height: 25px; 
    }
    @include desktop {
        width: 36px; 
        height: 45px; 
    }
}
