@use "../colors/color_variables";
@use "../layouts/responsive" as *;


.kakao-logo-icon {
  @include mobile {
    width: 18px;
    height: 18px;
  }
  @include desktop {
    width: 36px;
    height: 36px;
  }
}
