@use "../colors/color_variables";
@use "../layouts/responsive" as *;

.list-icon {
  color: color_variables.$brand-logo-color;
  
  @include mobile {
    width: 24px;
    height: 24px;
  }
  @include desktop {
    width: 32px;
    height: 32px;
  }
}
