@use "../colors/color_variables";
@use "../layouts/responsive" as *;

.logout-icon {
  @include mobile {
    width: 12px; 
    height: 12px; 
  }
  @include desktop {
    width: 24px; 
    height: 24px; 
  }
}
