@use "../colors/color_variables";
@use "../layouts/responsive" as *;

.more-icon {
  @include mobile {
    width: 17px;
    height: 17px;
  }
  @include desktop {
    width: 35px;
    height: 35px;
  }
}
