@use "../colors/color_variables";
@use "../layouts/responsive" as *;

.naver-logo-icon {
  color: color_variables.$naver-logo-color;
  @include mobile {
    width: 18px;
    height: 18px;
  }
  @include desktop {
    width: 36px;
    height: 36px;
  }
}
