@use "../colors/color_variables";
@use "../layouts/responsive" as *;

.pause-line-icon {
    color: color_variables.$text-secondary-color;
    
    @include mobile {
        width: 18px; 
        height: 18px; 
    }
    
    @include desktop {
    display: none;
  }
}
