@use "../colors/color_variables";
@use "../layouts/responsive" as *;

.remove-icon {
  color: color_variables.$text-tertiary-color;

  @include mobile {
    width: 12px; 
    height: 12px; 
  }
  @include desktop {
    width: 24px; 
    height: 24px; 
  }
}
