@use "../colors/color_variables";
@use "../layouts/responsive" as *;

.share-icon {
  color: color_variables.$surface-tertiary-color;

  @include mobile {
    width: 15px; 
    height: 18px; 
  }
  @include desktop {
    width: 23px; 
    height: 28px; 
  }
}
