@use "../colors/color_variables";
@use "../icons/search_icon";
@use "../typography/typography" as *;
@use "../layouts/responsive" as *;

// 최상단 검색바 컨테이너
.search-bar {
  margin: auto;
  display: flex;
  align-items: center;
  justify-self: center;

  @include mobile {
    width: 315px;
    height: 36px;
    padding: 0px 10px;
    margin: 10px 0px;
    border-bottom: 1px solid color_variables.$border-primary-color; 
  }

  @include desktop {
    width: 660px;
    height: 58px;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom: 2px solid color_variables.$border-primary-color; 
  }
  
  input[type="text"] {
    border: none;

    @include mobile {
      @include body-medium;
      width: 315px;
    }

    @include desktop {
      @include body-large; 
      width: 660px;
    }
  }
      
  input[type="text"]::placeholder {
    color: color_variables.$text-tertiary-color; 
  }
}

// 검색 버튼 스타일
.search-button {
  @extend .search-icon;

  @include mobile {
    margin-left: 5px;
  }

  @include desktop {
    margin-left: 10px;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px color_variables.$background-primary-color;
  }
}
