@use "../colors/color_variables";
@use "../typography/typography";

// 최상단 검색바 컨테이너
.search-bar {
  width: 660px;
  height: 58px;
  border-bottom: 2px solid color_variables.$border-primary-color; 
  padding-left: 16px;
  padding-right: 16px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box; 
  
  input[type="text"] {
    @extend .body-large; 
    border: none;
    width: 660px;
    height: 41px;
    vertical-align: middle; 
  }
      
  input[type="text"]::placeholder {
    color: color_variables.$text-tertiary-color; 
  }
}

// 검색 버튼 스타일
.search-button:focus {
  outline: none; 
  box-shadow: 0 0 0 2px color_variables.$background-primary-color; 
}
