@use "../colors/color_variables";
@use "../typography/typography";

// 법안 카드 컨테이너 스타일
.bill-card-container {
    width: 1152px;
    margin-top: 50px;
}   

// 법안 카드 스타일
.bill-card {
    width: 100%;
    max-width: 1152px;
    min-height: 180px;
    margin-bottom: 20px;
    border-radius: 20px;
    background: color_variables.$surface-primary-color;
    padding: 27px 37px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}
 
// 법안 카드 헤더 스타일
.bill-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
// 법안 헤더 제목 스타일
.bill-title {
    @extend .title-small; 
    color: color_variables.$text-primary-color;
    flex: 1;
}

// 법안 헤더 태그 스타일
.bill-header-tag {
    display: flex;
    align-items: center;
    gap: 12px;
}
 
// 법안 태그 정당 스타일
.bill-tag-party {
    @extend .button-small;
    width: 125;
    height: 25;
    padding: 1px 33px;
    background-color: color_variables.$background-primary-color;
    text-align: center;
    border-radius: 10px;
}
 
// 법안 태그 상태 스타일
.bill-tag-status {
    @extend .button-small;
    padding: 1px 18px;
    background-color: color_variables.$background-primary-color;
    text-align: center;
    width: 65;
    height: 25;
    border-radius: 10px;
}

// 법안 상세정보 스타일
.bill-description {
    @extend .body-large;
}
  