@use "../colors/color_variables";
@use "../typography/typography" as *;
@use "../icons/divider_icon";
@use "../layouts/responsive" as *;

// 법안 카테고리 컴포넌트 스타일
$LAW_CATEGORIES: (
    "all",
    "starred",
    "labor-humanrights",
    "health-welfare",
    "socialsecurity-national",
    "economy-finance",
    "informationcommunication-sciencetechnology",
    "industry-agriculture",
    "education",
    "culture-sports",
    "family-genderequality",
    "diplomacy-unification",
    "land-environment",
    "disaster-climate",
    "government-administration",
    "legislative-judicial"
);

.law-component-layer {
    display: flex;
    max-width: 1652px;
    justify-content: center;
    flex-wrap: wrap;
    
    @include mobile {
        gap: 5px;
        padding: 15px;
    }

    @include desktop {
        gap: 10px;
        padding: 20px;
    }
}

// 공통 스타일 정의
%law-common-shape-component {
    width: auto;
    justify-content: center;
    display: flex;
    align-items: center;
    background: color_variables.$background-primary-color;
    border: 1px solid color_variables.$border-primary-color;

    @include mobile {
        height: 30px;
        min-height: 30px;
        border-radius: 12px; 
        padding: 0px 10px;
    }

    @include desktop {
        height: 57px;
        min-height: 57px;
        border-radius: 20px; 
        padding: 4px 25px;
    }

    &:focus {
        box-shadow: none;
    }
}

// 각 컴포넌트의 스타일 생성
@each $name in $LAW_CATEGORIES {
    .#{$name}-comp {
        @extend %law-common-shape-component;
    }
}

// 동적으로 선택된 탭에 대한 스타일 생성
@each $name in $LAW_CATEGORIES {
    .#{$name}-comp.active {
        @extend %law-common-shape-component;
        border: 1px solid color_variables.$border-primary-color;
        background: color_variables.$surface-select-background-color;
    }
}

.law-common-text-component {
    @include button-medium;
    color: color_variables.$text-primary-color;
    text-align: center;

    &.active {
        color: color_variables.$text-inverse-color !important;
    }
}

.law-divider {
    display: flex;
    align-items: center;
    justify-content: center;
}
