@use "colors/color_variables";
@use "../typography/typography";

.login-button-layer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: 30px;
  gap: 20px;
}

.kakao-login-button-layer {
    @extend .button-medium;
    display: flex;
    align-items: center;
    box-sizing: border-box;

    height: 45px;
    width: auto;
    padding: 0px 14px;
    gap: 6px;

    border: 6px;
    color: color_variables.$text-kakao-color;
    background: #FEE500;
  }

.naver-login-button-layer {
    @extend .button-medium;
    display: flex;
    align-items: center;
    box-sizing: border-box;

    height: 45px;
    width: auto;
    padding: 0px 14px;
    gap: 6px;

    border: 6px;
    color: color_variables.$text-naver-color;
    background: #03C75A;
  }