@use "../colors/color_variables";
@use "../typography/typography" as *;

%political-common-shape-component {
    width: 108px;
    height: 35px;
    border-radius: 10px; 
    border-width: 1px;
    padding: 4px 33px;
    gap: 20px;

    justify-content: center;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    flex-shrink: 0;
    white-space: nowrap; // 자동 줄 바꿈이 안되게 설정 

    background: color_variables.$background-primary-color;
}

// 정당 관련 컴포넌트의 이름과 색상 맵
$political-shape-components-color: (
    democratic-party-shape: #152484,
    people-power-shape: #E61E2B,
    rebuilding-korea-shape: #0073CF
);

// 각 컴포넌트의 스타일을 자동으로 생성
@each $name, $color in $political-shape-components-color {
    .#{$name} {
        @extend %political-common-shape-component;
        border: 1px solid $color;
    }
}

// 정당별 폰트 색상 매핑
$political-text-components-color: (
    democratic-party-text: #152484,
    people-power-text: #E61E2B,
    rebuilding-korea-text: #0073CF
);

// 정당 텍스트 컴포넌트 스타일
@each $name, $color in $political-text-components-color {
    .#{$name} {
        @include button-small;
        color: $color;
    }
}
