@use "../colors/color_variables";
@use "../typography/typography" as *;
@use "../layouts/responsive" as *;

%political-common-shape-component {
    width: auto;
    justify-content: center;
    display: flex;
    align-items: center;

    @include mobile {
        height: 30px;
        min-height: 30px;
        border-radius: 12px; 
        padding: 0px 10px;
    }

    @include desktop {
        height: 57px;
        min-height: 57px;
        border-radius: 20px; 
        padding: 4px 25px;
    }
}

// 정당 관련 컴포넌트의 이름과 색상 맵
$political-shape-components-color: (
    democratic-party-shape: #152484,
    people-power-shape: #E61E2B,
    rebuilding-korea-shape: #0073CF
);

// 각 컴포넌트의 스타일을 자동으로 생성
@each $name, $color in $political-shape-components-color {
    .#{$name} {
        @extend %political-common-shape-component;
        border: 1px solid $color;
    }
}

// 정당별 폰트 색상 매핑
$political-text-components-color: (
    democratic-party-text: #152484,
    people-power-text: #E61E2B,
    rebuilding-korea-text: #0073CF
);

// 정당 텍스트 컴포넌트 스타일
@each $name, $color in $political-text-components-color {
    .#{$name} {
        @include button-small;
        color: $color;
    }
}
