@use "colors/color_variables";
@use "colors/color_functions";

@use "components/bill/bill_table";
@use "components/bill_detail/bill_detail";
@use "components/bill_detail/ai_summary_accordion";
@use "components/bill_detail/ai_summary";
@use "components/bill_detail/progress_bar";

@use "components/login/login";

@use "components/law_categories";
@use "components/political_party";
@use "components/banner";
@use "components/banner_search";


@use "components/home/main_title";
@use "components/home/login_button";
@use "components/home/hot_issue";
@use 'components/home/category_select_search_bar';

@use "layouts/_layout";
@use "layouts/responsive";

@use "typography/typography";

@use "icons/first_icon";
@use "icons/last_icon";
@use "icons/list_icon";
@use "icons/next_icon";
@use "icons/noti_icon";
@use "icons/previous_icon";
@use "icons/profile_icon";
@use "icons/search_icon";
@use "icons/brand_logo";
@use "icons/more_icon";
@use "icons/alert_circle_icon";
@use "icons/kakao_logo_icon";
@use "icons/naver_logo_icon";
@use "icons/remove_icon";
@use "icons/divider_icon";

// 전역 스타일 설정
a {
    &:focus, &:active, &:hover {
      outline: none !important;
      border-color: color_variables.$border-primary-color !important;
      box-shadow: none !important;
    }
  }
