@use "../colors/color_variables";
@use "../typography/typography.scss" as typography;

.law-common-text-component {
    @extend .button-medium;
    color: color_variables.$text-primary-color;
    text-align: center;
    letter-spacing: -0.72px;
}

